:root {
    box-sizing: border-box;
}

$main-color: #F2F2F2;
$main-black: #1B1D21;
$black: #1F2132;
$gray: #FAFAFA;

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@mixin flex($content) {
    display: flex;
    justify-content: $content;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend:wght@400;500&family=Manrope:wght@400;500;600;700&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.📦 {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.📦☝️ {
    max-width: 1384px;
    margin: 0 auto;
    // padding: 0 10px;
}