@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend:wght@400;500&family=Manrope:wght@400;500;600;700&display=swap");
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

.📦 {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.☝️ {
  height: 746px;
  background-color: #ECE0D6;
}

.📦☝️ {
  max-width: 1384px;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 100px;
  border-bottom: 1px solid #1B1D21;
}

.☝️💠 {
  height: 32px;
  border-right: 1px solid #1B1D21;
}

.☝️💠®️ {
  margin: 0 26px 0 16px;
}

.📓☝️ {
  margin-right: 534px;
}

.☝️📓 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.☝️📓🔖 {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #1B1D21;
  position: relative;
}

.☝️📓🔖::before, .☝️📓🔖::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.☝️📓🔖:hover::before {
  border-top: 2px solid #FF825B;
  border-left: 2px solid #FF825B;
  top: -3px;
  left: -6px;
}

.☝️📓🔖:hover::after {
  border-right: 2px solid #FF825B;
  border-bottom: 2px solid #FF825B;
  right: -6px;
  bottom: -3px;
}

.☝️🔎 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.☝️👤 svg {
  margin-left: 16px;
}

.☝️👤📓 {
  display: none;
}

.☝️👁️‍🗨️ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 81px;
  margin-bottom: 117px;
  position: relative;
}

.☝️👁️‍🗨️::before {
  content: '';
  width: 62px;
  height: 62px;
  position: absolute;
  top: -50px;
  left: 190px;
  background-image: url(../images/header-decor-1.svg);
}

.☝️👁️‍🗨️::after {
  content: '';
  width: 62px;
  height: 62px;
  position: absolute;
  bottom: 15px;
  left: 90px;
  background-image: url(../images/header-decor-2.svg);
  z-index: 3;
}

.☝️👁️‍🗨️💎 {
  position: absolute;
  border-radius: 50%;
}

.☝️👁️‍🗨️💎.💎 {
  width: 51px;
  height: 51px;
  top: 40px;
  left: 283px;
  background-color: #007E5B;
  z-index: 3;
}

.☝️👁️‍🗨️💎.💎💎 {
  width: 121px;
  height: 121px;
  top: 160px;
  left: 13px;
  background-color: #F9BF62;
  z-index: 3;
}

.☝️👁️‍🗨️💎.💎💎💎 {
  width: 191px;
  height: 191px;
  top: 300px;
  left: 217px;
  background-color: #FF825B;
  z-index: 1;
}

.☝️👁️‍🗨️💠 {
  width: 489px;
  height: 343px;
  margin-top: 20px;
  z-index: 2;
}

.👁️‍🗨️📦📓 {
  font-family: 'Lexend';
  font-weight: 500;
  font-size: 72px;
  line-height: 82px;
  color: #171717;
}

.👁️‍🗨️📦📖 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #403D3C;
  margin: 27px 0 45px 0;
}

.👁️‍🗨️📦🆗 {
  width: 254px;
  height: 64px;
  display: inline-block;
  padding: 20px 76px 19px 36px;
  background-color: #1F2132;
  border-radius: 31.5449px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  position: relative;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.👁️‍🗨️📦🆗::after {
  content: '';
  width: 22px;
  height: 22px;
  position: absolute;
  top: 21px;
  right: 36px;
  border-radius: 50%;
  background-color: #FF825B;
  background-image: url(../images/btn-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 2px 8px 8px rgba(27, 29, 33, 0.1);
          box-shadow: 2px 8px 8px rgba(27, 29, 33, 0.1);
}

.👁️‍🗨️📦🆗:hover {
  color: #1F2132;
  background-color: #D8D8D8;
  -webkit-box-shadow: 0 0 0 5px #F2F2F2, 0 0 0 10px #1F2132;
          box-shadow: 0 0 0 5px #F2F2F2, 0 0 0 10px #1F2132;
}

.📌 {
  background-color: #FFFFFF;
}

.📦📌 {
  background-color: #1F2132;
  margin-bottom: 113px;
}

.📦📌📓 {
  max-width: 1173px;
  height: 141px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.📌📓 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 23px;
}

.📌📓🔖 {
  width: 159px;
  height: 43px;
  background-color: #ECE0D6;
}

.📌📓🔖:first-child {
  background-color: transparent;
  font-family: 'Lexend';
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.📌📓🔖:nth-child(3) {
  width: 269px;
}

.📌👁️‍🗨️📦 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 1px solid #D8D8D8;
}

.📌👁️‍🗨️📦::before {
  content: '';
  width: 71px;
  height: 71px;
  position: absolute;
  top: 52px;
  right: 35px;
  background-color: #007E5B;
  border-radius: 50%;
  z-index: 3;
}

.📌👁️‍🗨️📦::after {
  content: '';
  width: 86px;
  height: 87px;
  position: absolute;
  right: 428px;
  bottom: 135px;
  background-image: url(../images/header-decor-3.svg);
  z-index: 3;
}

.📌👁️‍🗨️ {
  max-width: 595px;
}

.📌👁️‍🗨️📖 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
  color: #6B6867;
}

.📌👁️‍🗨️📖📖 {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 32px;
  color: #6B6867;
}

.📌👁️‍🗨️📓 {
  font-family: 'Lexend';
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.175px;
  color: #1F2132;
  margin-top: 23px;
  margin-bottom: 16px;
  white-space: nowrap;
}

.📌👁️‍🗨️💠 {
  width: 390px;
  height: 471px;
  margin-right: 68px;
  margin-bottom: 60px;
  margin-left: 87px;
  background-color: #D8D8D8;
}

.📌👁️‍🗨️🔎 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #007E5B;
}

.👁️‍🗨️🔎💠 {
  margin-bottom: 4px;
  margin-left: 15px;
  vertical-align: middle;
}

.🛒 {
  background-color: #FFFFFF;
}

.🛒👁️‍🗨️ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-bottom: 48px;
}

.🛒 .📌👁️‍🗨️📓.🛒 {
  margin: 0;
}

.🛒 .📌👁️‍🗨️🔎.🛒 {
  color: #6DCCCC;
}

.🛒📦 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 80px;
}

.🛒📦🔖 {
  max-width: 360px;
  height: 510px;
  padding: 50px 85px 44px;
  text-align: center;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.🛒📦🔖:hover {
  border: 1px solid #FF825B;
}

.🛒🔖💠 {
  width: 190px;
  height: 243px;
  background-color: #D8D8D8;
}

.🛒🔖📖 {
  font-family: 'Lexend';
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #1F2132;
  white-space: nowrap;
  margin-top: 36px;
  margin-bottom: 8px;
}

.🛒🔖📖📖 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.0625px;
  color: #FF825B;
  margin-bottom: 32px;
}

.🛒🔖🆗 {
  width: 204px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 31.5449px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #222223;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.🛒🔖🆗:hover {
  font-weight: 700;
  color: #ECE0D6;
  background-color: #1F2132;
}

.♨️ {
  background-color: #FAFAFA;
}

.♨️👁️‍🗨️ {
  padding-top: 100px;
  margin-bottom: 64px;
  text-align: center;
}

.♨️👁️‍🗨️ .📌👁️‍🗨️📓.♨️ {
  margin-top: 16px;
}

.♨️📦 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding-bottom: 100px;
}

.♨️📦🔖 {
  max-width: 555px;
  height: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

.♨️📦 .♨️🔖👁️‍🗨️ {
  max-width: 319px;
}

.♨️📦 .♨️🔖📓 {
  font-family: 'Lexend';
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #1B1D21;
}

.♨️📦 .♨️🔖📖 {
  font-size: 16px;
  line-height: 28px;
  color: #6B6867;
}

.🖼️ {
  padding-bottom: 131px;
  background-color: #1F2132;
}

.🖼️👁️‍🗨️ {
  padding-top: 100px;
  margin-bottom: 56px;
  text-align: center;
}

.🖼️👁️‍🗨️ .📌👁️‍🗨️📖.📖 {
  color: #ECE0D6;
}

.🖼️👁️‍🗨️ .📌👁️‍🗨️📓.📓 {
  margin-top: 16px;
  color: #FFFFFF;
}

.🖼️📦 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.🖼️📦🔖 {
  max-width: 360px;
  max-height: 320px;
}

.🖼️📦🔖 .🖼️🔖💠 {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

.🖼️📦🔖.💠 {
  grid-column: 2/-1;
  max-width: 750px;
  max-height: 320px;
}

.🖼️📦🔖.💠 .🖼️🔖💠 {
  width: 100%;
  height: 100%;
}

.❓ {
  background-color: #FAFAFA;
}

.❓ .📦❓ {
  max-width: 1026px;
  margin: 0 auto;
  padding: 0 10px;
}

.❓ .📦❓ .❓👁️‍🗨️ {
  padding-top: 100px;
  margin-bottom: 56px;
  text-align: center;
}

.❓ .📦❓ .❓👁️‍🗨️ .📌👁️‍🗨️📓.❓ {
  margin-top: 0;
}

.❓ .📦❓ .❓👁️‍🗨️📖 {
  font-family: 'Inter';
  font-size: 16px;
  line-height: 28px;
  color: #6B6867;
}

.❓📦 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
  padding-bottom: 100px;
}

.❓📦 .❓📦🔖 {
  max-width: 487.5px;
  margin-bottom: 20px;
  padding: 18px 20px;
  background-color: #FFFFFF;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.❓📦 .❓📦🔖 .❓🔖📓 {
  font-family: 'Lexend';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1B1D21;
  width: 428px;
  display: inline-block;
}

.❓📦 .❓📦🔖 .❓🔖📖 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8D8E90;
  margin-top: 12px;
  display: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.❓📦 .❓📦🔖.⚠️ {
  padding: 20px;
}

.❓📦 .❓📦🔖.⚠️ .❓🔖📓 {
  font-weight: 500;
}

.❓📦 .❓📦🔖.⚠️ .❓🔖💠 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.❓📦 .❓📦🔖.⚠️ .❓🔖📖 {
  display: block;
}

.🔂 {
  background-color: #FFFFFF;
}

.🔂📦 {
  padding: 100px 30px 100px 48px;
  position: relative;
}

.🔂📦🔖 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.🔂📦🔖 .🔂🔖💠 {
  width: 320px;
  height: 320px;
  border-radius: 180px;
  background-color: #EAEEF3;
}

.🔂📦🔖 .🔂🔖👁️‍🗨️ {
  max-width: 653px;
  max-height: 379px;
}

.🔂📦🔖 .🔂🔖👁️‍🗨️ .🔂🔖🌟 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.🔂📦🔖 .🔂🔖👁️‍🗨️ .🔂🔖📖 {
  font-family: 'Lexend';
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.177778px;
  color: #1B1D21;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 43px;
}

.🔂📦🔖 .🔂🔖👁️‍🗨️ .🔂🔖📓 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #1B1D21;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 106px;
  right: 71px;
  list-style: none;
}

.slick-dots li {
  width: 14px;
  height: 14px;
}

.slick-dots button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: transparent;
  color: transparent;
  border: 1px solid #1F2132;
  cursor: pointer;
}

.slick-active button {
  background-color: #6DCCCC;
  border-color: #6DCCCC;
}

.👇 {
  padding-bottom: 63px;
  background-color: #007E5B;
}

.👇 .👇📦 {
  margin-bottom: 64px;
  padding-top: 61px;
  border-bottom: 1px solid #FFFFFF;
  text-align: center;
}

.👇 .👇📦📓 {
  font-family: 'Lexend';
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.👇 .👇📦🔖 {
  width: 510px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 36px auto 63px;
  padding: 8px 8px 8px 19px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.👇 .👇📦🔖 .👇🔖💠 {
  width: 20px;
  height: 20px;
}

.👇 .👇📦🔖 .👇🔖📖 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: 0 6px;
  padding: 0 5px;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #8D8E90;
}

.👇 .👇📦🔖 .👇🔖🆗 {
  width: 181px;
  height: 56px;
  background-color: #F9BF62;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #141A50;
}

.👇 .👇📓 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px;
}

.👇 .👇📓🔖 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  position: relative;
}

.👇 .👇📓🔖::before, .👇 .👇📓🔖::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.👇 .👇📓🔖:hover::before {
  border-top: 2px solid #FF825B;
  border-left: 2px solid #FF825B;
  top: -3px;
  left: -6px;
}

.👇 .👇📓🔖:hover::after {
  border-right: 2px solid #FF825B;
  border-bottom: 2px solid #FF825B;
  right: -6px;
  bottom: -3px;
}

@media (max-width: 1395px) {
  .📦☝️ {
    max-width: 1180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }
  .📓☝️ {
    margin-right: 150px;
    margin-left: 60px;
  }
}

@media (max-width: 1240px) {
  .☝️👁️‍🗨️ {
    gap: 60px;
  }
  .👁️‍🗨️📦📓 {
    font-size: 65px;
    line-height: 75px;
  }
  .📌📓 {
    margin-left: 0;
    padding: 0 10px;
  }
}

@media (max-width: 1160px) {
  .📦☝️ {
    max-width: 1160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 70px;
  }
  .📓☝️ {
    margin-right: 0;
    margin-left: 0;
  }
  .☝️👁️‍🗨️ {
    gap: 50px;
  }
  .👁️‍🗨️📦📓 {
    font-size: 60px;
    line-height: 70px;
  }
  .👁️‍🗨️📦📖 {
    font-size: 16px;
    line-height: 24px;
  }
  .📦📌📓 {
    height: 100px;
  }
  .📌👁️‍🗨️📓 {
    font-size: 45px;
    line-height: 45px;
  }
  .📌📓🔖:first-child {
    font-size: 20px;
  }
  .📌📓🔖 {
    width: 135px;
    height: 35px;
  }
  .📌👁️‍🗨️📦::after {
    right: 390px;
  }
  .🛒👁️‍🗨️ {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .🛒📦 {
    gap: 20px;
  }
  .🛒📦🔖 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .♨️📦 {
    gap: 20px;
    padding: 0 10px 100px;
  }
  .🖼️📦 {
    gap: 10px;
  }
}

@media (max-width: 1100px) {
  .🔂📦🔖 .🔂🔖💠 {
    width: 280px;
    height: 280px;
  }
  .🔂📦🔖 .🔂🔖👁️‍🗨️ .🔂🔖📖 {
    font-size: 28px;
    line-height: 36px;
  }
}

@media (max-width: 1024px) {
  .📦☝️ {
    gap: 40px;
  }
  .🖼️📦 {
    padding: 0 10px;
  }
  .🖼️📦🔖 {
    max-width: 340px;
    max-height: 300px;
  }
}

@media (max-width: 1030px) {
  .☝️👁️‍🗨️ {
    gap: 30px;
    padding: 0 10px;
  }
  .👁️‍🗨️📦📓 {
    font-size: 55px;
    line-height: 65px;
  }
  .❓📦 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .❓📦 .❓📦🔖 {
    padding: 15px;
  }
  .❓📦 .❓📦🔖 .❓🔖📓 {
    width: 400px;
  }
  .🔂📦🔖 {
    gap: 20px;
  }
  .🔂📦🔖 .🔂🔖💠 {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 970px) {
  .👁️‍🗨️📦📓 {
    font-size: 50px;
    line-height: 60px;
  }
  .☝️👁️‍🗨️💠 {
    width: 450px;
  }
  .📌👁️‍🗨️📦::before {
    right: 15px;
  }
  .📌👁️‍🗨️📦::after {
    right: 370px;
  }
  .📌👁️‍🗨️💠 {
    margin-left: 50px;
  }
  .♨️🔖💠 {
    width: 80px;
    height: 80px;
  }
  .❓📦 {
    gap: 20px;
  }
  .❓📦 .❓📦🔖,
  .❓📦 .❓📦🔖.⚠️ {
    padding: 15px 10px;
  }
  .❓📦 .❓📦🔖 .❓🔖📓 {
    width: 370px;
  }
  .❓📦 .❓📦🔖.⚠️ .❓🔖📖 {
    max-width: 370px;
  }
}

@media (max-width: 930px) {
  .📦☝️ {
    gap: 70px;
    position: relative;
  }
  .☝️📓 {
    display: none;
    position: absolute;
  }
  .☝️📓.⚠️ {
    width: 100%;
    height: 79px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    top: 0;
    left: 0;
    padding: 0 20px;
    background-color: #1F2132;
    border-bottom: 2px solid #FFFFFF;
  }
  .☝️📓🔖 {
    font-size: 24px;
    color: #FFFFFF;
  }
  .☝️📓🔖::before, .☝️📓🔖::after {
    display: none;
  }
  .☝️👤📓 {
    padding: 0;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 2022;
  }
  .☝️👤📓 span {
    width: 24px;
    height: 2px;
    margin-bottom: 4px;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    background-color: #1B1D21;
    z-index: 2022;
  }
  .☝️👤📓::before,
  .☝️👤📓::after {
    content: '';
    width: 24px;
    height: 2px;
    margin-bottom: 4px;
    display: block;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    background-color: #1B1D21;
    z-index: 2022;
  }
  .☝️👤📓::after {
    width: 24px;
    margin-left: auto;
    margin-bottom: 0;
  }
  .☝️👤📓.⚠️ span {
    opacity: 0;
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
    background-color: #FFFFFF;
  }
  .☝️👤📓.⚠️::before {
    -webkit-transform: translateY(6px) rotate(135deg);
            transform: translateY(6px) rotate(135deg);
    background-color: #FFFFFF;
  }
  .☝️👤📓.⚠️::after {
    width: 24px;
    -webkit-transform: translateY(-6px) rotate(-135deg);
            transform: translateY(-6px) rotate(-135deg);
    background-color: #FFFFFF;
  }
  .📦📌 {
    margin-bottom: 70px;
  }
  .📌👁️‍🗨️💠 {
    margin-left: 30px;
  }
  .📌👁️‍🗨️📖📖 {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 890px) {
  .☝️ {
    height: auto;
    padding-bottom: 30px;
  }
  .📦☝️ {
    margin-bottom: 40px;
  }
  .☝️👁️‍🗨️ {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 0;
  }
  .☝️👁️‍🗨️::before {
    top: -20px;
    left: 250px;
  }
  .☝️👁️‍🗨️::after {
    bottom: 350px;
    left: 190px;
  }
  .☝️👁️‍🗨️💎.💎 {
    top: 0;
    left: 510px;
  }
  .☝️👁️‍🗨️💎.💎💎 {
    left: 150px;
  }
  .☝️👁️‍🗨️💎.💎💎💎 {
    top: 230px;
    left: 417px;
  }
  .👁️‍🗨️📦 {
    width: 60%;
    padding-top: 20px;
  }
  .👁️‍🗨️📦📖 {
    margin: 25px 0;
  }
  .📦📌 {
    margin-bottom: 40px;
  }
  .📌👁️‍🗨️📦 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .📌👁️‍🗨️ {
    margin-bottom: 20px;
  }
  .📌👁️‍🗨️📦::before {
    top: 400px;
    right: 200px;
  }
  .📌👁️‍🗨️📦::after {
    right: 590px;
  }
  .📌👁️‍🗨️💠 {
    margin: 0 auto 30px;
  }
  .🛒📦🔖 {
    padding: 30px 20px;
  }
  .♨️📦 {
    gap: 10px;
  }
  .♨️🔖💠 {
    width: 18%;
    height: auto;
  }
  .❓📦 .❓📦🔖 .❓🔖📓 {
    width: 360px;
  }
  .👇 .👇📓 {
    gap: 30px;
  }
}

@media (max-width: 840px) {
  .📌📓🔖:nth-child(3) {
    width: 135px;
  }
  .📌👁️‍🗨️📦::before {
    right: 180px;
  }
  .📌👁️‍🗨️📦::after {
    right: 570px;
  }
  .🛒📦 {
    gap: 10px;
  }
  .🛒📦🔖 {
    height: auto;
    padding: 20px 0;
  }
  .♨️📦 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .♨️📦🔖 {
    width: 70%;
    margin: 0 auto;
  }
  .❓📦 .❓📦🔖 .❓🔖📓 {
    width: 90%;
  }
  .❓🔖💠 {
    vertical-align: top;
  }
  .🔂📦🔖 .🔂🔖💠 {
    width: 200px;
    height: 200px;
  }
  .🔂📦🔖 .🔂🔖👁️‍🗨️ .🔂🔖📖 {
    font-size: 24px;
    line-height: 32px;
    margin: 30px 0;
  }
}

@media (max-width: 778px) {
  .📌👁️‍🗨️📦::before {
    right: 150px;
  }
  .📌👁️‍🗨️📦::after {
    right: 535px;
  }
  .🛒📦 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    margin-bottom: 30px;
  }
  .🖼️📦 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 15px;
  }
  .🖼️📦🔖 {
    max-width: 360px;
    max-height: 320px;
  }
  .🖼️📦🔖.💠 {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .🔂📦 {
    padding: 50px 30px;
  }
  .slick-dots {
    bottom: 60px;
  }
}

@media (max-width: 720px) {
  .📦☝️ {
    gap: 40px;
  }
  .☝️📓🔖 {
    font-size: 20px;
  }
  .☝️👁️‍🗨️::before {
    top: -20px;
  }
  .☝️👁️‍🗨️::after {
    bottom: 400px;
    left: 150px;
  }
  .☝️👁️‍🗨️💎.💎 {
    left: 450px;
  }
  .☝️👁️‍🗨️💎.💎💎 {
    width: 80px;
    height: 80px;
    left: 100px;
  }
  .☝️👁️‍🗨️💎.💎💎💎 {
    width: 140px;
    height: 140px;
    top: 270px;
    left: 370px;
  }
  .📦📌📓 {
    height: 80px;
  }
  .📌📓🔖:first-child {
    font-size: 18px;
  }
  .📌📓🔖:nth-child(3) {
    display: none;
  }
  .📌👁️‍🗨️📦::before {
    right: 120px;
  }
  .📌👁️‍🗨️📦::after {
    right: 500px;
  }
  .❓ .📦❓ .❓👁️‍🗨️ {
    padding-top: 50px;
  }
  .❓📦 {
    padding-bottom: 50px;
  }
  .🔂📦🔖 .🔂🔖👁️‍🗨️ .🔂🔖📖 {
    font-size: 20px;
    line-height: 26px;
  }
  .👇 .👇📦📓 {
    font-size: 36px;
    line-height: 36px;
  }
  .👇 .👇📓 {
    gap: 15px;
  }
}

@media (max-width: 650px) {
  .📌👁️‍🗨️📦::before {
    right: 100px;
  }
  .📌👁️‍🗨️📦::after {
    right: 470px;
  }
  .♨️📦🔖 {
    width: 90%;
  }
  .🖼️📦🔖 {
    max-width: 340px;
    max-height: 300px;
  }
  .🔂📦🔖 .🔂🔖👁️‍🗨️ .🔂🔖📖 {
    font-size: 20px;
    line-height: 26px;
  }
  .👇 {
    padding-bottom: 40px;
  }
  .👇 .👇📦 {
    margin-bottom: 40px;
  }
}

@media (max-width: 620px) {
  .📦☝️ {
    gap: 20px;
  }
  .☝️📓🔖 {
    font-size: 16px;
  }
  .☝️👁️‍🗨️::before, .☝️👁️‍🗨️::after {
    display: none;
  }
  .☝️👁️‍🗨️💎.💎💎 {
    left: 35px;
  }
  .👁️‍🗨️📦📓 {
    font-size: 40px;
    line-height: 50px;
  }
  .🖼️📦 {
    padding: 0 20px;
  }
  .🔂📦🔖 .🔂🔖💠 {
    width: 150px;
    height: 150px;
  }
  .👇 .👇📓 {
    gap: 10px;
  }
  .👇 .👇📓🔖 {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .📌👁️‍🗨️ {
    padding: 0 10px;
  }
  .📌👁️‍🗨️📓 {
    font-size: 35px;
    line-height: 35px;
  }
  .📌👁️‍🗨️📦::before {
    right: 50px;
  }
  .📌👁️‍🗨️📦::after {
    right: 435px;
  }
  .🖼️ {
    padding-bottom: 100px;
  }
  .❓ .📦❓ .❓👁️‍🗨️ {
    margin-bottom: 30px;
  }
  .❓📦 {
    display: block;
  }
  .❓📦 .❓📦🔖, .❓📦 .❓📦🔖.⚠️ {
    margin: 0 auto 20px;
  }
  .❓📦 .❓📦🔖.⚠️ .❓🔖📖 {
    max-width: 100%;
  }
  .🔂📦🔖 {
    display: block !important;
  }
  .🔂📦🔖 .🔂🔖💠 {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
  }
  .👇 .👇📦📓 {
    font-size: 32px;
    line-height: 32px;
  }
  .👇 .👇📦🔖 {
    width: 400px;
  }
}

@media (max-width: 540px) {
  .👇 .👇📓 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 525px) {
  .📦☝️ {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .☝️📓.⚠️ {
    padding: 0 10px;
  }
  .☝️🔎 {
    display: none;
  }
  .☝️👁️‍🗨️💎.💎 {
    left: 350px;
  }
  .☝️👁️‍🗨️💎.💎💎 {
    left: 0;
  }
  .☝️👁️‍🗨️💎.💎💎💎 {
    left: 280px;
  }
  .👁️‍🗨️📦📓 {
    font-size: 30px;
    line-height: 40px;
  }
  .📌📓🔖:last-child {
    display: none;
  }
  .📌👁️‍🗨️📦::before {
    right: 30px;
  }
  .📌👁️‍🗨️📦::after {
    right: 410px;
  }
  .🛒📦🔖 {
    padding: 10px 0;
  }
  .🛒🔖📖 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .🛒🔖📖📖 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .🛒🔖🆗 {
    width: 180px;
  }
  .♨️👁️‍🗨️ {
    padding-top: 50px;
    margin-bottom: 40px;
  }
  .♨️📦 {
    padding-bottom: 50px;
  }
  .♨️📦🔖 {
    width: 100%;
  }
  .🖼️👁️‍🗨️ {
    padding-top: 50px;
  }
  .👇 .👇📦📓 {
    font-size: 28px;
    line-height: 28px;
  }
  .👇 .👇📦📓 br {
    display: none;
  }
}

@media (max-width: 470px) {
  .📦☝️ {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .☝️📓.⚠️ {
    display: block;
    height: auto;
    padding-top: 20px;
    z-index: 1;
  }
  .☝️📓🔖 {
    width: 30%;
    height: 40px;
    margin: 10px auto;
    font-size: 20px;
  }
  .☝️👁️‍🗨️ {
    padding: 0 10px;
  }
  .☝️👁️‍🗨️💠 {
    width: 100%;
    height: 100%;
    margin-top: 0;
    z-index: 0;
  }
  :is(.☝️👁️‍🗨️💎.💎, .☝️👁️‍🗨️💎.💎💎, .☝️👁️‍🗨️💎.💎💎💎) {
    display: none;
  }
  .👁️‍🗨️📦 {
    width: 100%;
    padding-top: 0;
  }
  .👁️‍🗨️📦📓 br {
    display: none;
  }
  .📦📌📓 {
    height: 60px;
  }
  .📌👁️‍🗨️📦::before, .📌👁️‍🗨️📦::after {
    display: none;
  }
  .📌👁️‍🗨️💠 {
    width: 100%;
  }
  .🛒👁️‍🗨️ {
    display: block;
    text-align: center;
    margin: 40px 0;
  }
  .🛒 .📌👁️‍🗨️📓.🛒 {
    margin-bottom: 10px;
  }
  .🔂📦 {
    padding: 30px 10px;
  }
  .🔂📦🔖 .🔂🔖💠 {
    width: 150px;
    height: 150px;
  }
  .🔂📦🔖 .🔂🔖👁️‍🗨️ .🔂🔖📖 {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 450px) {
  .♨️🔖💠 {
    width: 15%;
  }
  .🖼️📦 {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .🖼️📦🔖.💠 {
    display: none;
  }
  .slick-dots {
    bottom: 35px;
  }
}

@media (max-width: 425px) {
  .☝️💠 {
    height: auto;
    border-right: none;
  }
  .☝️💠®️ {
    margin: 0;
  }
  .📌📓 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .📌📓🔖:nth-child(4) {
    display: none;
  }
  .📌👁️‍🗨️📓 {
    font-size: 30px;
    line-height: 30px;
  }
  .🛒📦 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .🛒📦🔖:nth-last-child(-n+3) {
    display: none;
  }
  .🛒📦🔖 {
    margin: 0 auto;
    padding: 30px;
  }
  .♨️📦🔖 {
    height: 130px;
    padding: 0 5px;
  }
  .♨️📦 .♨️🔖👁️‍🗨️ {
    padding-left: 5px;
  }
  .♨️📦 .♨️🔖📓 {
    font-size: 18px;
    line-height: 24px;
  }
  .♨️📦 .♨️🔖📖 {
    font-size: 14px;
    line-height: 20px;
  }
  .❓📦 {
    padding-bottom: 30px;
  }
  .👇 .👇📦🔖 {
    width: 350px;
    margin: 30px auto 30px;
  }
  .👇 .👇📦🔖 .👇🔖🆗 {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .☝️💠®️ {
    width: 100px;
  }
  .☝️👤 svg {
    width: 30px;
    height: 30px;
  }
  .📦📌📓 {
    height: 40px;
  }
  .📦📌 {
    margin-bottom: 30px;
  }
  .📌📓🔖:first-child {
    font-size: 16px;
    line-height: 20px;
  }
  .📌📓🔖 {
    width: 110px;
    height: 20px;
  }
  .📌👁️‍🗨️💠 {
    height: auto;
  }
  .📌👁️‍🗨️📓 {
    white-space: initial;
  }
  .📌👁️‍🗨️💠 {
    width: 90%;
  }
  .♨️📦🔖 {
    height: 100px;
  }
  .♨️📦 .♨️🔖👁️‍🗨️ {
    padding-left: 10px;
  }
  .♨️🔖💠 {
    display: none;
  }
  .🖼️ {
    padding-bottom: 30px;
  }
  .🖼️📦 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .🖼️📦🔖:nth-last-child(-n+2) {
    display: none;
  }
  .slick-dots {
    right: 20px;
  }
  .👇 .👇📦📓 {
    font-size: 24px;
    line-height: 24px;
  }
  .👇 .👇📦🔖 {
    width: 330px;
  }
  .👇 .👇📦🔖 .👇🔖📖 {
    margin: 0;
  }
  .👇 .👇📦🔖 .👇🔖🆗 {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .👇 .👇📦🔖 {
    width: 300px;
  }
  .👇 .👇📦🔖 .👇🔖💠 {
    display: none;
  }
  .👇 .👇📦🔖 {
    padding: 5px;
  }
}

@media (max-width: 325px) {
  .📌👁️‍🗨️📓 {
    font-size: 24px;
    line-height: 24px;
    white-space: normal;
  }
  .📌👁️‍🗨️📓 br {
    display: none;
  }
  .🖼️👁️‍🗨️ {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  .👇 .👇📦🔖 {
    width: 280px;
  }
}
/*# sourceMappingURL=style.css.map */